.speech-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.speech-btn img {
    width: 28px;
    border-radius: 50%;
    padding: 0.2rem;
}

.speech-container {
    display: flex;
    border-right: 1px #febb02 solid;
    align-items: center;
}

.listening {
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 54, 54, 0.479);
    }

    100% {
        background-color: transparent;
    }
}

@media (max-width: 1040px) {
    .speech-container {
        border: none;
    }

    .speech-btn img {
        padding: 0;
    }
}