.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fpItem{
  flex: 1;
  flex-basis: 240px;
  max-width: 241px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.fpImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fpName{
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-weight: 300;
  text-transform: capitalize;
}

.fpPrice{
  font-weight: 500;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}

@media (max-width: 1040px) {
  .fp {
    flex-wrap: wrap;
  }

  .fpItem {
    padding: 0 5px;
  }
}